%h1.bg-info Log In 

-unless @merchant ==nil
  -if @merchant.errors.any?
    %ul
    -@merchant.errors.full_messages.each do |msg|
      %li #{msg}

= form_tag merchant_session_path, :id=>'login_form' , class:"center" do

  = label :merchant, :username, 'Five Circle Merchant ID'
  = text_field :merchant, 'username'
  
  = label :merchant, :email, 'merchant email'
  = text_field :merchant, 'email'

  = label :merchant, :password, 'Password'
  = password_field :merchant, 'password'
  
  -if devise_mapping.rememberable?
    <br>
    %br
    remember me
    =check_box_tag "remember_me", 1, :id => "remember_tag"
  <br>
  %br
  = submit_tag 'Log In' , class:"btn btn-primary"
  %br
  <br>
  %br
  = render "merchants/shared/links"



