-# in app/views/users/index.html.haml
-# Ultimately I think this needs to be the show view for single users

%h1 User Profile
%p
.card
  .card-block
    #map
%h1 User Media

%table{:border => 1}
  #media
    %thead
      %th User ID
      %th Date
      %th Location
      %th View Post
    %tbody
      - @media.each do |medium|
      -# if medium.user_id == @current_user.id
        %tr     
          %td= @users[medium.user_id-1].id   
          %td= medium.created_at
          %td= "(#{medium.latitude}, #{medium.longitude})"          
          %td= link_to "View post", user_medium_path(@users[medium.user_id-1].id,1)
  
= link_to "Add new post", new_user_medium_path(1)