-# in app/views/users/show.html.haml
-# I realize using @user.id is kind of a kludge. We should use a @current_user variable

%h1 User #{@user.id} Profile
%p
.card
  .card-block
    #map

%h1 User #{@user.id} Media

%table{:border => 1}
  #media
    %thead
      %th User ID
      %th Date      
      %th View photo
      %th Location
      %th View post
    %tbody
      - @media.each do |medium|
        - if medium.user_id == @user.id          
          %tr     
            %td= @user.id   
            %td= medium.created_at
            %td= link_to "View photo!", medium.photoUrl            
            %td= "(#{medium.latitude}, #{medium.longitude})"          
            %td= link_to "View post!", user_medium_path(@user.id,medium.id)

- if @media.length == 0
  You haven't dropped any media yet.
  %div  

= link_to "Add new post", new_user_medium_path(@user.id)

%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqnz3DH-SPMzN2934Ptf-2bpl36vdfJcw&callback=initMap" async defer)