-# in app/views/users/show.html.haml

%h1.bg-info #{@user.username}'s Profile

%p
.card
  .card-block
    #map

%p
#checkin
  = button_to "Check-in", user_checkin_path(@user.id), :method => :post

%p
.hidden
  %table{:border => 1,:id => 'pins'}
    %tbody
      -# show images from all users for now
      - @media.each do |medium|
        %tr
          %td= @user.id
          %td= medium.created_at
          %td= medium.photoUrl
          %td= medium.latitude
          %td= medium.longitude
          %td= user_medium_path(@user.id,medium.id)

%p
%h1.bg-info #{@user.username}'s media
= link_to "Add new post", new_user_medium_path(@user.id)

%table{:border => 4, :align => "center", :width => "80%", :border-collapse => "collapse", :border => "3px solid purple"}

  #media

    %thead.bg-success.bold
      %th User Name
      %th Post #
      %th Date
      %th Note
      %th View post
    %tbody
      - @media.each do |medium|
        - if medium.user_id == @user.id
          %tr
            %td= @user.username
            %td= medium.id
            %td= medium.created_at
            %td= medium.note
            %td= link_to "View post!", user_medium_path(@user.id,medium.id)


%p
%p
%h1.bg-info #{@user.id}'s coupons
%table{:border => 3, :align => "center", :width => "80%", :border-collapse => "collapse", :border => "3px solid purple"}
  #coupon
    %thead.bg-success.bold
      %th User ID
      %th Coupon Name
      %th Description
      %th Use Coupon
    %tbody
      - @current_user.saved_coupons.each do |coupon|
        - @coupons.each do |coupon_lookup|
          - if coupon_lookup.id == coupon.coupon_id
            - name = coupon_lookup.couponName
            - description = coupon_lookup.description
          %tr
            %td= @user.id
            %td= name
            %td=   description
            %td= link_to "Use", root_path

%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqnz3DH-SPMzN2934Ptf-2bpl36vdfJcw&callback=initMap" async defer)