-# in /views/coupons/new.html.haml

%h1.bg-info Create New Coupon

= form_tag coupons_path do

  = label :coupon, :couponName, 'Name'
  = text_field :coupon, 'couponName'

  = label :coupon, :description, 'Description'
  = text_field :coupon, 'description'  
  %div
  = submit_tag 'Create Coupon'