-# in app/views/coupons/show.html.haml

%h2.bg-info Coupon created on #{@coupon.created_at} by Merchant ##{@coupon.merchant_id}

-# Still need to add a static map to this view

%ul#details
  %li
    = "Name: #{@coupon.couponName}"
  %li
    = "Description: #{@coupon.description}"