-# in app/views/coupons/show.html.haml
%header
  %h1.bg-info= "Merchant #{@coupon.merchant_id}, coupon \##{@coupon.id}"
  %br
  %div
  %center.bg-success= "#{@coupon.couponName}"
  %center.bg-success= "Description:"
  %center.bg-success= "#{@coupon.description}"