-# in app/views/merchants/show.html.haml

%h1 Merchant Profile
%h2 (refresh page if map does not appear)
-# TODO: Actually, don't we just want a static map for Merchants?
%p
.card
  .card-block
    #map

%h1 Merchant Coupons

%table{:border => 1}
  #coupons
    %thead
      %th Merchant ID
      %th Name
      %th Date
      %th Location
      %th View Coupon
    %tbody
      - @coupons.each do |coupon|
        - if coupon.merchant_id == @merchant.id
          %tr     
            %td= @merchant.id   
            %td= coupon.couponName
            %td= coupon.created_at
            %td= @merchant.address
            %td= link_to "View coupon", merchant_coupon_path(@merchant.id,coupon.id)
  
= link_to "Add new coupon", root_path