-# in app/views/merchants/show.html.haml
%h1.bg-info Merchant Profile
%center
  =image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@merchant.latitude},#{@merchant.longitude}&zoom=18&size=640x400&key=#{@GOOGLE_STATIC_KEY}",
    :class => 'img-fluid img-rounded', :alt => "#{@merchant.id} on the map"

%h1.bg-info Merchant Coupons

%table{:border => 4, :align => "center", :width => "80%", :border-collapse => "collapse", :border => "3px solid purple"}
  #coupons
    %thead.bg-success.bold
      %th Merchant Name
      %th Name
      %th Date
      %th Location
      %th View Coupon
    %tbody
      - @coupons.each do |coupon|
        - if coupon.merchant_id == @merchant.id
          %tr     
            %td= @merchant.merchantName  
            %td= coupon.couponName
            %td= coupon.created_at
            %td= @merchant.address
            %td= link_to "View coupon", merchant_coupon_path(@merchant.id,coupon.id)

- if @coupons.length == 0
  You haven't made any coupons yet.
  %div
  
= link_to "Add new coupon", new_merchant_coupon_path(@merchant.id)