<!-- in /views/media/new.html.haml -->

<h1>New Media</h1>

<%= form_for(:medium, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :caption %>

    <p><%= f.text_area :note, cols: "30", rows: "10" %></p>
  
  <div class="actions">
    <%= f.submit 'Upload image' %>
  </div>
<% end %>
