-# in app/views/media/show.html.haml

%h2.bg-info Media dropped on #{@medium.created_at} at (#{@medium.latitude}, #{@medium.longitude})

-# Still need to add a static map to this view

%ul#details
  %li
    = "Note: #{@medium.note}"