!!!
%html
  %head
    %title Fivecircle
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.bg-primary Five Circles!
    #main.bg-inverse
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      - if current_user
        %p.text-center You are logged in as #{current_user.email} (User name: #{current_user.username})
        %br
        = button_to 'Log Out', destroy_user_session_path, :method => 'delete' , class:"btn btn-warning"
        %br
        %p.profile= link_to 'View Profile', user_path(current_user)

      - elsif current_merchant
        %p.text-center You are logged in as #{current_merchant.email} (Merchant name: #{current_merchant.merchantName})
        = button_to 'Log Out', destroy_merchant_session_path, :method => 'delete' , class:"btn btn-warning"
        %p.profile= link_to 'View Profile', merchant_path(current_merchant)
      - else
        = button_to "User Sign Up/Login" ,new_user_session_path,:method => :get, id: 'signupLogin' , class:"btn btn-info"
        %br
        = button_to "Merchant Sign Up/Login", new_merchant_session_path,:method => :get , class:"btn btn-info"
        %br
        = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
        %br
        %br
        %br
        %br
      = yield
      